Test-Command: pytest debian/lib/python
Restrictions: superficial
Depends: python3-jinja2, python3-pytest

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-alpha-generic
Architecture: alpha
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-alpha-generic
Depends: linux-headers-6.18.5+kali-alpha-generic, linux-image-6.18.5+kali-alpha-generic

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-alpha-smp
Architecture: alpha
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-alpha-smp
Depends: linux-headers-6.18.5+kali-alpha-smp, linux-image-6.18.5+kali-alpha-smp

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-amd64
Architecture: amd64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-amd64
Depends: linux-headers-6.18.5+kali-amd64, linux-image-6.18.5+kali-amd64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-cloud-amd64
Architecture: amd64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-cloud-amd64
Depends: linux-headers-6.18.5+kali-cloud-amd64, linux-image-6.18.5+kali-cloud-amd64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-rt-amd64
Architecture: amd64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-rt-amd64
Depends: linux-headers-6.18.5+kali-rt-amd64, linux-image-6.18.5+kali-rt-amd64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-test
Architecture: amd64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-test
Depends: linux-headers-6.18.5+kali-test, linux-image-6.18.5+kali-test

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-arm64
Architecture: arm64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-arm64
Depends: linux-headers-6.18.5+kali-arm64, linux-image-6.18.5+kali-arm64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-cloud-arm64
Architecture: arm64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-cloud-arm64
Depends: linux-headers-6.18.5+kali-cloud-arm64, linux-image-6.18.5+kali-cloud-arm64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-arm64-16k
Architecture: arm64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-arm64-16k
Depends: linux-headers-6.18.5+kali-arm64-16k, linux-image-6.18.5+kali-arm64-16k

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-rt-arm64
Architecture: arm64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-rt-arm64
Depends: linux-headers-6.18.5+kali-rt-arm64, linux-image-6.18.5+kali-rt-arm64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-test
Architecture: arm64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-test
Depends: linux-headers-6.18.5+kali-test, linux-image-6.18.5+kali-test

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-armmp
Architecture: armhf
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-armmp
Depends: linux-headers-6.18.5+kali-armmp, linux-image-6.18.5+kali-armmp

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-armmp-lpae
Architecture: armhf
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-armmp-lpae
Depends: linux-headers-6.18.5+kali-armmp-lpae, linux-image-6.18.5+kali-armmp-lpae

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-parisc
Architecture: hppa
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-parisc
Depends: linux-headers-6.18.5+kali-parisc, linux-image-6.18.5+kali-parisc

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-parisc64
Architecture: hppa
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-parisc64
Depends: linux-headers-6.18.5+kali-parisc64, linux-image-6.18.5+kali-parisc64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-loong64
Architecture: loong64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-loong64
Depends: linux-headers-6.18.5+kali-loong64, linux-image-6.18.5+kali-loong64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-m68k
Architecture: m68k
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-m68k
Depends: linux-headers-6.18.5+kali-m68k, linux-image-6.18.5+kali-m68k

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-powerpc
Architecture: powerpc
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-powerpc
Depends: linux-headers-6.18.5+kali-powerpc, linux-image-6.18.5+kali-powerpc

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-powerpc-smp
Architecture: powerpc
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-powerpc-smp
Depends: linux-headers-6.18.5+kali-powerpc-smp, linux-image-6.18.5+kali-powerpc-smp

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-powerpc64
Architecture: ppc64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-powerpc64
Depends: linux-headers-6.18.5+kali-powerpc64, linux-image-6.18.5+kali-powerpc64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-powerpc64-64k
Architecture: ppc64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-powerpc64-64k
Depends: linux-headers-6.18.5+kali-powerpc64-64k, linux-image-6.18.5+kali-powerpc64-64k

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-powerpc64le
Architecture: ppc64el
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-powerpc64le
Depends: linux-headers-6.18.5+kali-powerpc64le, linux-image-6.18.5+kali-powerpc64le

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-powerpc64le-64k
Architecture: ppc64el
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-powerpc64le-64k
Depends: linux-headers-6.18.5+kali-powerpc64le-64k, linux-image-6.18.5+kali-powerpc64le-64k

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-riscv64
Architecture: riscv64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-riscv64
Depends: linux-headers-6.18.5+kali-riscv64, linux-image-6.18.5+kali-riscv64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-s390x
Architecture: s390x
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-s390x
Depends: linux-headers-6.18.5+kali-s390x, linux-image-6.18.5+kali-s390x

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-sh7751r
Architecture: sh4
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-sh7751r
Depends: linux-headers-6.18.5+kali-sh7751r, linux-image-6.18.5+kali-sh7751r

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-sparc64
Architecture: sparc64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-sparc64
Depends: linux-headers-6.18.5+kali-sparc64, linux-image-6.18.5+kali-sparc64

Test-Command: debian/tests/headers-kbuild 6.18.5+kali-sparc64-smp
Architecture: sparc64
Restrictions: skip-not-installable, superficial
Features: test-name=headers-kbuild-sparc64-smp
Depends: linux-headers-6.18.5+kali-sparc64-smp, linux-image-6.18.5+kali-sparc64-smp

